.env
backend/venv
ai/venv
backend/app/__pycache__
frontend/node_modules
frontend/dist
label-studio/.env
label-studio/backups/*
label-studio/import/README.md
ai/data/anotasi/venv/*
__init__.py
backend/app/api/__pycache__/__init__.cpython-310.pyc
ai/debug_page.html
ai/data/raw/1549_test_raw_data2.csv
ai/data/raw/3059_test_raw_data5.csv
ai/data/raw/7088_test_raw_data.csv
ai/data/raw/3271_test_raw_data3.csv
backend/app/api/__pycache__/compare.cpython-310.pyc
backend/app/api/__pycache__/products.cpython-310.pyc
backend/app/core/__pycache__/__init__.cpython-310.pyc
backend/app/core/__pycache__/config.cpython-310.pyc
backend/app/db/__pycache__/__init__.cpython-310.pyc
backend/app/db/__pycache__/mongodb.cpython-310.pyc
.gitignore
backend/app/models/__pycache__/product.cpython-310.pyc
backend/app/models/__pycache__/__init__.cpython-310.pyc
backend/app/services/__pycache__/__init__.cpython-310.pyc
backend/app/services/__pycache__/inference.cpython-310.pyc
backend/app/services/__pycache__/product_service.cpython-310.pyc
backend/app/services/__pycache__/scraper.cpython-310.pyc
backend/app/m3v2ce_best.pt
backend/app/m2_best.pt
backend/app/*.pt
*.pt
/buku